[user]
	email = mail@pratik.live
	name = Pratik Tripathy
[core]
	autocrlf = input
	editor = code --wait
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[alias]
	ll = log --pretty=format:'%Cblue%cn (%ce)%Creset commited %Cred%h%Creset %Cgreen%cr%Creset:%n%B'
	unstage = restore --staged .

