# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Binaries & dlls
*.exe
*.exe~
*.dll
*.so
*.dylib

# macOS
.DS_Store

# Thumbnails
._*

# Log files
..logs/
*.log

# Backup files
*.bak
